{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<div class="col-md-12">
        <div class="card">
            <h5 class="card-header">
                    <h1>Hello {{ controller_name }}! ✅</h1>
            </h5>
            <div class="card-body">
                <p class="card-text">
                        This friendly message is coming from:
                        <ul>
                            <li>Your controller at <code><a href="{{ 'C:/phpDEV/mysymfony/src/Controller/AboutController.php'|file_link(0) }}">src/Controller/AboutController.php</a></code></li>
                            <li>Your template at <code><a href="{{ 'C:/phpDEV/mysymfony/templates/about/index.html.twig'|file_link(0) }}">templates/about/index.html.twig</a></code></li>
                        </ul>
                </p>
            </div>
            <div class="card-footer">
                Card footer
            </div>
        </div>
    </div>
{% endblock %}
