{% extends 'base.html.twig' %}
        {% block content %}

        <div class="container py-5">
                <div class="row">
                        {% if app.request.hasPreviousSession %}
                        <div class="col-md-12">
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="flash-{{ type }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    <div class="col-md-12">
                        <div>
                                {% block fos_user_content %}
                                {% endblock fos_user_content %}
                        </div>
                    </div>
                    <!--/col-->
                </div>
                <!--/row-->
        </div><!--/container-->


                        


        {% endblock %}
