{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Hello TestController!{% endblock %}

{% block navigation %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            {# Brand and toggle get grouped for better mobile display #}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Awesome!</a>
            </div>
  
            {# Collect the nav links, forms, and other content for toggling #}
            <div class="collapse navbar-collapse" id="admin-navbar-collapse-1">
                    {{ knp_menu_render('main') }}
            </div>
        </div>
    </div>
</nav>
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h3>{{ 'group.flash.updated'|trans }}</h3>
{{ dump }}

</div>
{% endblock %}
