{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Hello TestController!{% endblock %}

{% block navigation %}
<!--- KNPNAV -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {{ knp_menu_render('main') }}
        </div>
</nav>
<!--- KNPNAV -->
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h3>{{ 'group.flash.updated'|trans }}</h3>
{{ dump }}

</div>
{% endblock %}
