{% block body %}
<div class="col-md-12">
        <div class="card">
            <h5 class="card-header">
                    <h1>Hello {{ controller_name }}! ✅</h1>
            </h5>
            <div class="card-body">
                <p class="card-text">
                        This friendly message is coming from:
                        <ul>
                            <li>Your controller </li>
                            <li>Your template at</li>
                        </ul>
                </p>
            </div>
            <div class="card-footer">
                Card footer
            </div>
        </div>
    </div>
{% endblock %}

